<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="yourpost.css">
</head>
<body>


  <nav>
    <h3><%= title %></h3>
    <ul>
      <li><a href="/"><button class="btn home">Home</button></a></li>
      <li><a href="/new"><button class="btn post">Post</button></a></li>
      <li><a href=""><button class="btn yourpost">YourPost</button></a></li>
    </ul>
    <button><a class="logout" href="/logout">Logout</a></button>
  </nav>

  <h1>Your Messages...</h1>

  <div class="project"> 
    <!-- <h1><%= title %></h1> -->
 
  <div class="notifications-container">
    <% messages.forEach(msg => { %>
      <div class="success">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div class="success-prompt-wrap">
            <p class="success-prompt-heading"><%= msg.user %></p>
            <div class="success-prompt-prompt">
              <p><%= msg.message %></p>
            </div>
          </div>
        </div>
        <div class="message-date">
          <%= new Date(msg.added).toLocaleString('en-IN', {
            timeZone: 'Asia/Kolkata',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
            year: 'numeric',
            month: 'short',
            day: 'numeric'
          }) %>
        </div>
      </div>
    <% }) %>
  </div>  
   </div>
</body>
</html>
